@import "../../Utils.scss";

.container-modal-button {
  display: flex;

  button {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #922685;
    color: $mono-white;
    font-size: large;
    @include shadow;
  }

  button:active {
    background-color: #f5f5f5;
    color: $mono-black;
    @include shadow;
  }
}

.modal-apply {
  flex-direction: column;
  position: absolute;
  padding: 3%;
  top: 11vh;
  left: 32vw;
  width: 30%;
  height: 70%;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
  border-radius: 8px;
  z-index: 10000;

  .title-modal-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      color: $primary-color-candidate;
    }

    .btn-close-modal {
      background: none;
      border: none;
      font-size: x-large;
    }

    .btn-close-modal:hover {
      color: $special-color-candidate;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;

    .card-profil {
      width: 85vw;
      margin-left: -0.5rem;
    }

    .first-input,
    .second-input {
      text-align: center;
      align-self: center;
      margin-left: 1rem;
      margin-bottom: 1rem;

      label {
        font-size: large;

        input {
          padding: 1.5%;
          width: 70%;
          margin: 3%;
          border: none;
          border-radius: 8px;
          box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.29);
        }
      }
    }

    button {
      align-self: flex-end;
      width: 20%;
      padding: 1rem;
      border-radius: 8px;
      border: none;
      background-color: #922685;
      color: $mono-white;
      font-size: large;
      @include shadow;
    }
  }
}
